html {

}
body {
  background: #eee;
  margin: 0;
  padding: 0;
}
footer {
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
}

a {
  color: #c50;
}
a:hover {
  color: #e71;
}
#game * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  -moz-user-select: -moz-none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
  user-select: none; 
}



#wrapper {
  margin: 0px auto;
}
#game {
  background: #fff;
  position: relative;
}
#game .chrono {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  font-size: 2em;
  z-index: 15;
}

#game .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.4);
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}
#game .front * {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  position: relative;
  display: block;
  top: 40%;
}
#game .value {
  font-weight: bold;
  font-size: 6em;
  transition: 800ms;
  -moz-transition: 800ms;
  transform: scale(1);
  -moz-transform: scale(1);
}
#game .value.change {
  transform: scale(0.7);
  -moz-transform: scale(0.7);
}
